@import "tailwindcss";

.scollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth marker movement animations for Leaflet */
.leaflet-marker-icon {
  transition: transform 0.5s linear;
}
